@charset "UTR-8";

*{
    margin: 0px;
    padding: 0px;
}

body , html {
    background-color: rgb(97, 0, 0);
    height: 100hv;
    width: 100vw;
}

div#imagem {
    background-color: rgb(97, 0, 0);
    background-image: url(../imagens/Sem\ título.png);
    width: 100wv;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

header > h1.nome{
    color: white;
    text-align: center;
}

header > h1#nome1{
    padding-bottom: 20px;
}

header > menu > a {
    display: block;
    text-align: center;
    border: 2px solid black;
    text-decoration: none;
    color: white;
    background-color:rgb(97, 0, 0);
}

main{
    background-color: rgb(97, 0, 0); 
    width: 100wv;
    height: 100hv;
    
}

main > section#pag{
    margin: auto;
    width: 350px;
    height: 700px;
    background-color: white;
    border: 2px solid black;
    
}

footer > p{
    color: white;
}