@charset "UTR-8";

*{
    margin: 0px;
    padding: 0px;
}

body , html {
    background-color: rgb(97, 0, 0);
    height: 100hv;
    width: 100vw;
}

header{
    background-color: white;
}

header > div#imagem {
    background-color: rgb(97, 0, 0);
    background-image: url(../imagens/wp2288781-ikki-kurogane-wallpapers.jpg);
    width: 100wv;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

header > menu > a {
    display: block;
    text-align: center;
    border: 2px solid black;
    text-decoration: none;
    color: white;
    background-color:rgb(97, 0, 0);
}

main{
    background-color: white; 
    width: 100wv;
    height: 100hv;
    
}

main > section#pag{
    margin: auto;
    width: 300px;
    height: 700px;
    background-color: blue;
    border: 2px solid black;
    
}