@charset "UTR-8";

*{
    margin: 0px;
    padding: 0px;
}

body , html {
    background-color: rgb(97, 0, 0);
}

div#imagem {
    display: block;
    background-color: rgb(97, 0, 0);
    background-image: url(../imagens/Sem\ título.png);
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

header > h1.nome{
    color: white;
    text-align: center;
}

header > h1#nome1{
    padding-bottom:20px;
}

span.material-symbols-outlined {
    text-align: center;
    font-size: 3em;
    display: block;
    height: 50px;
}

span.material-symbols-outlined:hover {
background-color:rgb(199, 0, 0);
cursor: pointer;
}

menu{
    display: none;
}

header > menu > a {
    display: block;
    text-align: center;
    border: 2px solid black;
    text-decoration: none;
    color: white;
    background-color:rgb(97, 0, 0);
}

header > menu > a:hover{
    background-color:rgb(199, 0, 0);
}

main{
    background-color: rgba(255, 255, 255, 0.616); 
    margin: auto;
    width: 95vw;
    border-radius: 5px;
    padding-bottom: 7px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.747);
    border: 2px solid black;
    
}

main > section.cardapio{
    width: 89vw;
    background-color: white;
    border: 1.5px solid black;
    display: block;
    margin: auto;
    padding: 10px;
    margin-top: 7px;
    border-radius: 5px;
    font-size: 1em;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.39);
    
}

section.cardapio > ul{
    list-style-position: inside;
}

footer > p{
    color: white;
}