@charset "UTR-8";

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

@font-face{
    font-family: 'pixel';
    src: url(../fontes/Pixelmania.ttf);
    font-weight: normal;
}

:root {
    --cor0: #98d5f3;
    --cor3: #1f22e98c;

    --fonte-padrao: Arial, Verdana,Helvetica, sans-serif
    --fonte-portifoli:'Lora', serif;
    --font-sobreMim : 'pixel', 'cursive';
}

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    background-color: #98d5f3;
}

header{
    background-color: #1f22e98c;
    box-shadow: 1px 1px 10px black;
    height: auto;
    width: 100vw;
}

header > h1 {
    display: inline-block;
}

header > nav  {
    display: inline-block;
}

header > nav > h2 {
    display: inline-block;
    text-align: left;
}

main > section > h1 {
    font-family: var(--font-sobreMim);
}